<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1> Nick Pruett</h1>
    <h2>Professional Summary</h2>
    <p>Creative, self-motivated Java developer with broad skill base and proven problem-solving ability.
        Identifies and caters well to user/business needs with excellent communication skills and valuable
        team experience.</p>

    <h2>Technical Skills</h2>
    <ul>
        <li>
            <strong>Languages</strong>- JavaEE, HTML5, JavaScript/AJAX, CSS3, JSTL, XML, XMLFO, VB6, SQL
        </li>
        <li>
            <strong>Software</strong>- Hibernate, JQuery, Web Services/Clients, Spring, Struts, JSP's and Servlets,
            Portlets, JSTL and Custom Actions, MYSQL, Sybase, RAD, Eclipse, WebSphere, Google Web Toolkit.
        </li>
        <li>
            <strong>Versioning Software</strong>- CVS, ClearCase, Tortoise/SVN, Git
        </li>
        <li>
            <strong>Project Management Tools</strong>- ClearQuest, GanttPVC, Jira, Microsoft Project
        </li>
        <li>
            <strong>Databases</strong>- Map POJOs to database via Hibernate. Access database information via stored
            procedures as well as JDBC connected SQL queries, Analyze queries for performance and optimization in
            addition to database replication via DBMoto.
        </li>
    </ul>
    <h2>Professional Experience</h2>
    <h3>Averitt Express - Senior Web Developer</h3>
    <ul>
        <li>
            Completely redesigned entire outward facing website to include responsive design elements for tables and
            mobile devices allowing 100% of functionality to be consumed on any platform.
        </li>
        <li>
            Took advantage of CSS3 and Media Queries to generate animations and create an appropriate experience for
            smaller devices.
        </li>
        <li>
            Setup Javascript Modules for detecting media type and respond to resizing of content allowing for a smaller
            footprint on mobile devices to minimize bandwidth requirements
        </li>
        <li>
            Used Ajax to communicate with Google Maps Javascript API and plot real-time positions of hundreds of truck
            locations anywhere in the United States on an interactive web page.
        </li>
        <li>
            Adhere to progressive enhancement principles to ensure functionality on all devices by attaching Javascript
            events to base html buttons and links or by generating DOM content after page has been generated.
        </li>
    </ul>
    <p>
        <strong> Technologies Used:</strong> AJAX, JQuery and Javascript, CSS3, SCSS, HTML5, Struts, Google Maps API,
        Spring and Hibernate, WAS, JSPs and Servlets, JSTL, XML
    </p>
</body>
</html>