$grids-debug: true;
$grids-debug-color: rgba(0,0,0,0.2);

.group {
    //@extend %clearfix;
    @include container($breakpoint-final);
    padding: 0 16px;
    padding: 0 1rem;
}

.halves {
    @extend %clearfix;

    @if $grids-debug == true {
        background-color: $grids-debug-color;
    }

    .col {
        @if $grids-debug == true {
            background-color: $grids-debug-color;
        }

        @include span(3 of 9);

        &:last-child {
            margin-right: 0;
        }
    }
}

.thirds {
    @extend %clearfix;

    @if $grids-debug == true {
        background-color: $grids-debug-color;
    }

    .col {
        @if $grids-debug == true {
            background-color: $grids-debug-color;
        }

        @include span(3 of 9);

        &:nth-child(3n+3) {
            margin-right: 0;
        }
    }
}

.two-to-three {
    @extend %clearfix;

    @if $grids-debug == true {
        background-color: $grids-debug-color;
    }

    @media screen and (min-width: $breakpoint-one) {
        .col {
            @if $grids-debug == true {
                background-color: $grids-debug-color;
            }

            @include span(2 of 4);

            &:nth-child(2n+2) {
                margin-right: 0;
            }
        }
    }

    @media screen and (min-width: $breakpoint-two) {
        .col {
            @if $grids-debug == true {
                background-color: $grids-debug-color;
            }

            @include span(3 of 9);

            &:nth-child(2n+2) {
                @include span(3 of 9);
            }

            &:nth-child(3n+3) {
                margin-right: 0;
            }
        }
    }
}